<footer>
  <div class="footer_container">
    <div class="footer_info">
      <h5>THE COMPANY</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Work with Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="footer_info">
      <h5>HELP & INFORMATION</h3>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">How To Order</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Delivery Information</a></li>
      </ul>
    </div>
  </div>
   
    <small>
      <div class="footer_small">
        <h3 class="name h3">Pizza-Hunt</h3>
        <p>&COPY; 2020 | Made with <span><i  class="fas fa-heart"></i></span> <a href="https://twitter.com/IfeanyiIgweh">By Ifeanyi</a> </p>
      </div>
    </small>
  </footer>


